<h2>My Books</h2>

<table class="center">
    <thead>
        <tr>
            <th>{{bookDetailVolumeInfo.title}}</th>
            <button style="float: right;" (click)="backToHomePage()">Back to home page</button>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <img [src]="bookDetailVolumeInfo.imageLinks.thumbnail" alt="" height="100%">
            </td>
            <td>{{bookDetailVolumeInfo.description}}</td>
        </tr>
        <tr>
            <td>Author: {{bookDetailVolumeInfo.authors}}</td>
        </tr>
    </tbody>
</table>