<h2 style="margin-left: 15%;">MY BOOKS</h2>
<div class="search-bar">
    <button (click)="searchBooks(bookName.value, authorName.value)">Search</button>
    <label for="name">Name </label>
    <input type="text" id="name" #bookName>
    <label for="author">Author</label>
    <input type="text" id="author" #authorName>
</div>