<div *ngIf="bookDetailSection">
    <app-book-details [bookDetailVolumeInfo]="bookDetailVolumeInfo" (showSearchAndBookListSection)="searchAndBookListSectionShow()"></app-book-details>
</div>
<div *ngIf="searchAndBookListSection"> 
    <app-book-search (searchBooksEventEmitter)="searchBooks($event)"></app-book-search>
    <app-show-book-items [bookVolumeInfo]="booksVolumeInfo" (bookDetailEventEmitter)="bookDetails($event)"></app-show-book-items>
</div>
