<div class="row">
    <div class="column" *ngFor="let bookInfo of bookVolumeInfo">
        <a (click)="bookVolumeInfoDetails(bookInfo)">
            <h2 style="text-align: center;">{{bookInfo.title}}</h2>

            <img *ngIf="bookInfo.imageLinks.thumbnail" class="center" 
            [src]="bookInfo.imageLinks.thumbnail" alt="" 
            style="height: 60%; width: auto;"
>
            <!-- <p>{{ bookInfo.description | slice:0:100 }}{{ bookInfo.description.length > 20 ? '...' : ''}}</p> -->
            <p style="text-align: center;">WRITTEN BY: {{ bookInfo.authors }}</p>
        </a>
    </div>
</div>